/* Start variables */
:root {
    --mainColor: #10cab7;
    --secondaryColor: #2c4755;
    --sectionPadding: 60px;
    --secBack: #f6f6f6;
}
/* End variables */
/* Start global rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
}

/* Small */
@media (min-width: 768px) {
    .container {
      width: 750px;
    }
}
/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* End Global Rules */
/* Start component */

.special-heading {
    color: #ebeced;
    font-size: 100px;
    text-align: center;
    font-weight: 800;
    letter-spacing: -3px;
    margin: 0;
}

.special-heading + p {
    margin: -30px 0 0;
    font-size: 20px;
    text-align: center;
    color: #797979
} 
@media (max-width: 767px) {
  .special-heading {
    font-size: 60px;
  }
  .special-heading + p {
    margin-top: -20px;
  }
}

/* End component */
/* Start header */
header {
    padding: 20px
}

header .container {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    width: 60px;
}

header .links {
    position: relative;
}

header .links:hover .icon span:nth-of-type(2) {
    width: 100%;
}

header .icon {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    cursor: pointer;
    width: 30px;
}

header .icon span {
    margin-bottom: 5px;
    background-color: #333;
    height: 2px;
    width: 100%;
}

header .icon span:nth-of-type(2) {
    width: 60%;
    transition: 0.1s;
}

header .links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: var(--secBack);
    position: absolute;
    right: 0;
    min-width: 200px;
    top: calc(100% + 15px);
    display: none;
    z-index: 1;
}

header .links ul::before {
    content: "";
    border: 10px solid transparent;
    border-bottom-color: #EEE;
    position: absolute;
    right: 5px;
    top: -20px;
}

header .links:hover ul {
    display: block;
}

header .links ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #333;
    border-bottom: 1px solid #DDD;
    transition: 0.3s;
}

header .links ul li a:hover {
    padding-left: 25px;
}

li:last-child a {
    border: none;
}

/* End header */
/* Start landing section */
.landing {
    background-image: url("../images/landing.jpg");
    background-size: cover;
    height: calc(100vh - 64px);
    position: relative;
}

.intro {
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    width: 320px;
    max-width: 100%;
}

.intro h1 {
    margin: 0;
    font-weight: bold;
    font-size: 50px;
    color: var(--mainColor);
}

.intro p {
    font-size: 19px;
    line-height: 1.8;
}

/* Start features */

.features {
    padding-top: var(--sectionPadding);
    padding-bottom: var(--sectionPadding);
    background-color: var(--secBack);
}

.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)) ;
    gap: 20px;
    text-align: center;
}

.features .feat {
    padding: 20px;
}

.features .feat i {
    color: var(--mainColor);
}

.features .feat h3 {
    font-weight: 800;
    margin: 30PX 0;
}

.features .feat p {
    line-height: 1.8;
    color: #777;
    font-size: 17PX;
}
/* End features */

/* Start services */

#services {
    padding-top: var(--sectionPadding);
    padding-bottom: var(--sectionPadding);
}

#services .content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
    margin-top: 100px;
}

#services .content .srv {
    display: flex;
    margin-bottom: 40px;
}
@media (max-width: 767px) {
  #services .content .srv {
    flex-direction: column;
    text-align: center;
  }
}

#services .content .srv i {
    color: var(--mainColor);
    flex-basis: 60px;
}
#services .content .srv .text {
    flex: 1;
}
#services .content .srv .text h3 {
    margin: 0 0 20px;
}
#services .content .srv .text p {
    color: #444;
    font-weight: 300;
    line-height: 1.6;
}

#services .content .image {
    text-align: center;
    position: relative;
}

#services .content .image::before {
    content: "";
    background-color: var(--secondaryColor);
    width: 100px;
    height: calc(100% + 100px);
    top: -50px;
    position: absolute;
    right: 0;
    z-index: -1;
}

#services .content .image img {
    width: 260px;
}
@media (max-width: 1199px) {
    #services .image {
      display: none;
    }
}
/* End services */
/* Start portfolio */

#portfolio {
    padding-top: var(--sectionPadding);
    padding-bottom: var(--sectionPadding);
    background-color: var(--secBack);
}

#portfolio .content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
    margin-top: 80px;
}

#portfolio .content .card {
    background-color: #FFF;
}

#portfolio .content .card img {
    width: 100%;
}

#portfolio .content .card .info {
    padding: 20px;
}

#portfolio .content .card .info h3 {
    margin: 0;
}

#portfolio .content .card .info p {
    color: #777;
    line-height: 1.6;
    margin-bottom: 0
}
/* End portfolio */

/* Start About */

#about {
    padding-top: var(--sectionPadding);
    padding-bottom: calc(var(--sectionPadding) + 60px);
}

#about .content {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media (max-width: 991px) {
    #about .content {
        flex-direction: column;
        text-align: center;
    }
}

#about .content .image {
    position: relative;
    width: 250px;
    height: 375px;
}
@media (max-width: 991px) {
  #about .content .image {
    margin: 0 auto 60px;
  }
}

#about .content .image::before {
    content: "";
    position: absolute;
    background-color: #ebeced;
    width: 100px;
    height: calc(100% + 80px);
    top: -40px;
    left: -20px;
    z-index: -1;
}

#about .content .image::after {
    content: "";
    position: absolute;
    width: 120px;
    height: 300px;
    top: -40px;
    right: -150px;
    z-index: -1;
    border-bottom: var(--mainColor) 80px solid;
    border-left: var(--mainColor) 80px solid;
}
@media (max-width: 991px) {
  #about .content .image::before,
  #about .content .image::after {
    display: none;
  }
}

#about .content .image img {
    max-width: 100%;
}

#about .content .text {
    flex-basis: calc(100% - 500px);
}

#about .content .text p:first-of-type {
    font-weight: bold;
    line-height: 2;
    margin-bottom: 50px;
}

#about .content .text hr {
    width: 50%;
    display: inline-block;
    border-color: var(--mainColor);
}

#about .content .text p:last-of-type {
    line-height: 2;
    color: #777;
}
/* End About */
/* Start cntact */

#contact {
    padding-top: var(--sectionPadding);
    padding-bottom: var(--sectionPadding);
    background-color: var(--secBack);
}

#contact .info {
    padding-top: var(--sectionPadding);
    padding-bottom: var(--sectionPadding);
    text-align: center;
}

#contact .info p {
    font-size: 35px;
    font-weight: 800;
    color: var(--secondaryColor);
    letter-spacing: -2px;
    margin-bottom: 15px;
}

#contact .info a {
    display: block;
    font-size: 35px;
    font-weight: 800;
    color: var(--mainColor);
    text-decoration: none;
}

#contact .info div {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#contact .info i {
    margin-left: 10px;
    color: var(--secondaryColor);
}

@media (max-width: 767px) {
    #contact .info p,
    #contact .info a {
        font-size: 25px;
    }
}

/* End contact */
/* Start footer */

#footer {
    background-color: var(--secondaryColor);
    color: #FFF;
    padding: 30px 10px;
    text-align: center;
    font-size: 18px;
}

#footer span, #footer a {
    color: var(--mainColor);
    font-weight: bold;
}

#footer a {
    text-decoration: none;
    display: block;
    border: 2px solid var(--mainColor);
    margin: 50px auto;
    position: relative;
    width: 160px;
    height: 40px;
    line-height: 36px;
    text-align: center;
    overflow: hidden;
}

#footer a::before {
    content: attr(data-text);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    transform: translateX(-100%);
    transition: 0.3s;
}

#footer a span {
    display: block;
    transition: 0.3s;
    /* overflow: hidden; */
}

#footer a:hover::before {
    transform: translateX(0);
}

#footer a:hover span {
    transform: translateX(100%);
}
/* End footer */